body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("https://img3.badfon.ru/wallpaper/big/6/f3/muravi-priroda-makro.jpg");
    background-size: cover;
    margin: 0;
    overflow: auto;
    user-select: none;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    height: 100%;
}

td {
    padding: 0;
}

.menu{
    width: 60%;
    padding-right: 30px;
}

.options-container, .start-stop-container, .clear-visibility-container{
    width: 100%;
    display: block;
}

.clear-visibility-container{
    margin-top: 40px;
}

ul {
    margin: 0;
    text-align: justify;
}

li {
    display: inline-block;
}

.li-width {
    width: 100%;
    height: 0;
    visibility: hidden;
}

.display{
    width: 40%;
}

.button-stop, .button-start {
    width: 250px;
    background: rgb(28, 107, 114) radial-gradient(150% 100% at 50% 5px, rgba(255, 255, 255, .2), rgba(0, 0, 0, 0));
    color: rgb(0, 79, 86);
}

button {
    display: inline-block;
    height: 60px;
    width: 200px;

    line-height: 50px;
    font-size: 20px;
    text-align: center;

    text-shadow: 0 1px rgba(255, 255, 255, .2), 0 -1px rgba(0, 0, 0, .8);
    border: none;
    border-radius: 100px;
    outline: none;

    box-shadow: inset rgba(0, 0, 0, .6) 0 -2px 5px, inset rgba(252, 255, 255, .7) 0 2px 5px, rgba(0, 0, 0, .8) 0 2px 5px -1px;
    margin-top: 10px;
}

.option > button, .button-clear, .button-pheromone-visibility {
    background: rgb(140, 71, 15) radial-gradient(150% 100% at 50% 5px, rgba(255, 255, 255, .2), rgba(0, 0, 0, 0));
    color: rgb(93, 47, 10);
}

.properties {
    margin-left: 50px;
    margin-top: 60px;
}

.properties p {
    height: 22px;
    color: rgb(90, 169, 169);
    margin: 24px 0 0 50px;
    font-size: 24px;
    font-weight: bold;
    font-family: "Times New Roman", serif;
}

.slider {
    -webkit-appearance: none;
    border-radius: 15px;
    margin-bottom: 17px;
    height: 20px;
    width: 100%;
    background: rgb(140, 71, 15);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    border-radius: 100%;
    appearance: none;
    width: 30px;
    height: 30px;
    background: rgb(41, 156, 166);
    cursor: pointer;
}

.slider:hover {
    opacity: 1;
}

button:hover {
    opacity: 0.7;
}

button:active{
    opacity: 0.5;
}

.frame {
    position: relative;
    margin-left: 20px;

    background-color: rgba(30, 30, 30, 1);
    width: 590px;
    height: 590px;
}

.frame > canvas{
    position: absolute;
    margin-left: -5px;
    margin-top: -5px;
    z-index: 0;
}

.frame .frontend-canvas{
    z-index: 1;
}